body
{
	margin: 10px;
	padding: 0px;
	width: 1024;
	height: 350;
	overflow: auto;
	font-size: 16px;
	font-weight: bold;
	font-family: sans-serif;
	color: #c3b7a6;
	background-image:url(../images/background-hubble-sombrero.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#aside-info
{
	float: left;
	width: 200px;
	vertical-align: top;
	padding-left: 10px;
}

#main-content-clear
{
	clear: both;
}

#topic-title
{
	margin-top: 0px;
	font-size: 20px
}

#main-content
{
	width: 700px;
    display: table;
    margin: auto;
    height: 368px;
	padding: 10px;
	margin: 10px;
}

#navigation
{
	background: #666666;	
	padding: 5px;
	width: 886px;
	float: left;
	height: 18px;
}

#sub-navigation
{
	background: #666666;	
	padding: 5px;
	width: 886px;
	float: left;
	height: 18px;
	font-size: 14px;
}

.sub-menu-link:hover
{
	color: yellow;
}
	
.sub-menu-link
{
	padding: 0px 10px;
	font-weight: bold;
	text-decoration: none;
	font-family: Arial;
	font-size: 14px;
	color: orange;
}

.menu-link-inactive
{
	padding: 0px 10px;
	font-weight: bold;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
	color: orange;
}
#box
{
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	overflow: auto;
}

.sub1-menu-link
{
    border: #9a9ede;
    padding: 5px 10px;
    color: #1e1b12;
    background: #9a9ede;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    font-size: 12px;
 }
 
 .sub1-menu-link:hover
{
	color: white;
}

.menu-link
{
	padding: 0px 10px;
	font-weight: bold;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
	color: white;
}

.menu-link:hover
{
	color: yellow;
}

#aside-audio-transcript
{
	width: 200px;
  	float: left;
  	margin: 0;
  	padding: 0;
  	margin-left: 10px;
}

#topic-head
{
	font-family: sans-serif;
	font-size: 20px;
}

#sub-topic-head
{
	font-family: sans-serif;
	font-size: 16px;
}

.img-left
{
	float: left;
}
#title
{
	font-size: 18px;
}

.banner
{
	height: 75px;
	width: 895px;
}

#side-nav
{	
	height: 300px;
	width: 140px;
  	float: left;
  	display: inline;
  	margin: 0;
  	padding: 0;
  	margin-right: 5px;
}

.columns
{
	display: table-cell;
	height: 100px;
	width: 200px;
	text-align: left;
	overflow: scroll;
	padding: 0px;
	margin: 0px;
}

#continue
{
	font-size: 20px;
}

#scroll
{
	height: 400px;
	overflow:auto;
}
#response
{
	padding-up:-1m;
}

#sci-meth
{
	position: center;
}
.column-dd
{
	display: table-cell;
	padding: 50px;
	width: 200px;
}

#drag
{
	font-weight: normal;
	margin: 0px;
}

#dd-div
{
	height: 0px;
	padding-bottom: 0px;
}

h3
{
	padding-top: 0px;
	text-align: center;
	top-margin: 0px;
}

.dragger
{
	border: solid thin #000000;
	background: #999999;
	
	text-align: center;
	height: 55px;
	width: 245px;
	vertical-align: center;
	cursor: move;
	position: relative;
	ghosting: true;
}

.dragger p
{
	font-size: 12px;
	font-weight: bold;
	color: black;
	padding: 0px;
}

.draggerbay
{
	border: dashed thin #000000;
	background: #ccccee;
	text-align: center;
	height: 55px;
	width: 245px;
	vertical-align: center;
	color: black;
}

[draggable=true] 
{
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

a
{
	color: #6699cc;
}

a:hover
{
	color: #ff9900;
}

#response
{
	margin: 0px;
}

